In [1]:
import numpy as np
import pandas as pd
from openbb import obb
obb.user.preferences.output_type = "dataframe"

In [2]:
df = obb.equity.price.historical(
    "AAPL",
    interval="1m",
    provider="yfinance"
)

In [22]:
resampled = df.resample(rule="h")["close"]

AttributeError: 'SeriesGroupBy' object has no attribute 'columns'

In [23]:
resampled.first()

date
2024-08-26 09:00:00    226.399994
2024-08-26 10:00:00    226.369995
2024-08-26 11:00:00    224.729996
2024-08-26 12:00:00    224.814697
2024-08-26 13:00:00    226.141602
                          ...
2024-08-30 11:00:00    228.796204
2024-08-30 12:00:00    228.179993
2024-08-30 13:00:00    228.354996
2024-08-30 14:00:00    227.759995
2024-08-30 15:00:00    228.600006
Freq: h, Name: close, Length: 103, dtype: float64

In [5]:
resampled.last()

date
2024-08-26 09:00:00    226.339996
2024-08-26 10:00:00    224.820007
2024-08-26 11:00:00    224.869995
2024-08-26 12:00:00    226.184998
2024-08-26 13:00:00    225.600006
                          ...
2024-08-30 11:00:00    228.619995
2024-08-30 12:00:00    228.350006
2024-08-30 13:00:00    227.759995
2024-08-30 14:00:00    228.559998
2024-08-30 15:00:00    228.860001
Freq: h, Name: close, Length: 103, dtype: float64

In [6]:
resampled.mean()

date
2024-08-26 09:00:00    226.508569
2024-08-26 10:00:00    224.897227
2024-08-26 11:00:00    224.971324
2024-08-26 12:00:00    225.607498
2024-08-26 13:00:00    226.039999
                          ...
2024-08-30 11:00:00    228.383465
2024-08-30 12:00:00    228.199874
2024-08-30 13:00:00    228.169548
2024-08-30 14:00:00    228.049043
2024-08-30 15:00:00    228.728408
Freq: h, Name: close, Length: 103, dtype: float64

In [7]:
resampled.ohlc()

                           open        high         low       close
date
2024-08-26 09:00:00  226.399994  226.860001  226.121002  226.339996
2024-08-26 10:00:00  226.369995  226.660004  224.005005  224.820007
2024-08-26 11:00:00  224.729996  225.379807  224.600006  224.869995
2024-08-26 12:00:00  224.814697  226.210007  224.720001  226.184998
2024-08-26 13:00:00  226.141602  226.380005  225.505005  225.600006
...                         ...         ...         ...         ...
2024-08-30 11:00:00  228.796204  228.970001  227.679993  228.619995
2024-08-30 12:00:00  228.179993  228.839996  227.600296  228.350006
2024-08-30 13:00:00  228.354996  228.539993  227.759995  227.759995
2024-08-30 14:00:00  227.759995  228.619995  227.699997  228.559998
2024-08-30 15:00:00  228.600006  229.679993  228.259903  228.860001

[103 rows x 4 columns]

In [10]:
resampled2 = df.resample(rule="h")

In [13]:
resampled2.first()

,open,high,low,close,volume,split_ratio,dividend
date,,,,,,,
2024-08-26 09:00:00,227.210007,227.210007,226.320007,226.399994,1088640.0,0.0,0.0
2024-08-26 10:00:00,226.350006,226.449997,226.119995,226.369995,145161.0,0.0,0.0
2024-08-26 11:00:00,224.806595,224.850006,224.710007,224.729996,53376.0,0.0,0.0
2024-08-26 12:00:00,224.839996,224.850006,224.679993,224.814697,52352.0,0.0,0.0
2024-08-26 13:00:00,226.188705,226.229996,226.139999,226.141602,46769.0,0.0,0.0
...,...,...,...,...,...,...,...
2024-08-30 11:00:00,228.699997,228.869995,228.419998,228.796204,139618.0,0.0,0.0
2024-08-30 12:00:00,228.610001,228.610001,228.139999,228.179993,46029.0,0.0,0.0
2024-08-30 13:00:00,228.369995,228.445007,228.289993,228.354996,51899.0,0.0,0.0
2024-08-30 14:00:00,227.770004,227.820007,227.660004,227.759995,54367.0,0.0,0.0
2024-08-30 15:00:00,228.559998,228.610001,228.509995,228.600006,59490.0,0.0,0.0

In [24]:
resampled.ohlc()

                           open        high         low       close
date
2024-08-26 09:00:00  226.399994  226.860001  226.121002  226.339996
2024-08-26 10:00:00  226.369995  226.660004  224.005005  224.820007
2024-08-26 11:00:00  224.729996  225.379807  224.600006  224.869995
2024-08-26 12:00:00  224.814697  226.210007  224.720001  226.184998
2024-08-26 13:00:00  226.141602  226.380005  225.505005  225.600006
...                         ...         ...         ...         ...
2024-08-30 11:00:00  228.796204  228.970001  227.679993  228.619995
2024-08-30 12:00:00  228.179993  228.839996  227.600296  228.350006
2024-08-30 13:00:00  228.354996  228.539993  227.759995  227.759995
2024-08-30 14:00:00  227.759995  228.619995  227.699997  228.559998
2024-08-30 15:00:00  228.600006  229.679993  228.259903  228.860001

[103 rows x 4 columns]

In [25]:
'''
Resampling with Pandas

	â€¢	Purpose: The resample method in pandas is used for altering the frequency of time series data, enabling aggregation or transformation to a new frequency (e.g., daily, monthly).
	â€¢	Resampler Object: Created by the resample method, upon which aggregation functions like mean or sum can be applied.
	â€¢	Key Arguments:
	â€¢	rule: Defines the target frequency (e.g., â€˜Dâ€™ for daily, â€˜Mâ€™ for monthly).
	â€¢	axis: Specifies the axis to resample, default is 0 (index).
	â€¢	closed: Defines which side of the bin interval is closed (â€˜rightâ€™ or â€˜leftâ€™).
	â€¢	label: Determines which bin edge label to use for the aggregation result.
	â€¢	convention: For period data resampling, specifies start or end of periods.
	â€¢	kind: Defines the type of index after upsampling (timestamp or period).
	â€¢	loffset: Adjusts resampled time labels.
	â€¢	base: Adjusts the start of the bins.
	â€¢	on: Allows resampling based on a specific column rather than the index.
	â€¢	level: Used for resampling based on a level in a MultiIndex.
	â€¢	origin: Defines the origin of the adjusted timestamps.
	â€¢	offset: Adjusts the start of bins based on a specified time delta.
	â€¢	Usage Example: Useful in scenarios like calculating daily, monthly, or yearly averages of stock prices.

This summary highlights the main features and options of the resample method in pandas.
'''

'\nResampling with Pandas\n\n\tâ€¢\tPurpose: The resample method in pandas is used for altering the frequency of time series data, enabling aggregation or transformation to a new frequency (e.g., daily, monthly).\n\tâ€¢\tResampler Object: Created by the resample method, upon which aggregation functions like mean or sum can be applied.\n\tâ€¢\tKey Arguments:\n\tâ€¢\trule: Defines the target frequency (e.g., â€˜Dâ€™ for daily, â€˜Mâ€™ for monthly).\n\tâ€¢\taxis: Specifies the axis to resample, default is 0 (index).\n\tâ€¢\tclosed: Defines which side of the bin interval is closed (â€˜rightâ€™ or â€˜leftâ€™).\n\tâ€¢\tlabel: Determines which bin edge label to use for the aggregation result.\n\tâ€¢\tconvention: For period data resampling, specifies start or end of periods.\n\tâ€¢\tkind: Defines the type of index after upsampling (timestamp or period).\n\tâ€¢\tloffset: Adjusts resampled time labels.\n\tâ€¢\tbase: Adjusts the start of the bins.\n\tâ€¢\ton: Allows resampling based on a specific column rather than the index.\n\tâ€¢\tlevel: Used for resampling based on a level in a MultiIndex.\n\tâ€¢\torigin: Defines the origin of the adjusted timestamps.\n\tâ€¢\toffset: Adjusts the start of bins based on a specified time delta.\n\tâ€¢\tUsage Example: Useful in scenarios like calculating daily, monthly, or yearly averages of stock prices.\n\nThis summary highlights the main features and options of the resample method in pandas.\n'