In [19]:
import numpy as np
import pandas as pd
from openbb import obb
obb.user.preferences.output_type = "dataframe"

In [20]:
asset = obb.equity.price.historical(
    "AAPL",
    provider="yfinance"
)
benchmark = obb.equity.price.historical(
    "SPY",
    provider="yfinance"
)

In [21]:
columns = [
    "open",
    "high",
    "low",
    "close",
    "volume",
    "dividends",
    "splits",
]

In [22]:
asset.columns = columns

In [23]:
benchmark.columns = columns + ["capital_gain"]

In [24]:
asset["price_diff"] = asset.close.diff()
benchmark["price_diff"] = benchmark.close.diff()

In [26]:
#Adding new column with boolean

In [27]:
asset["gain"] = asset.price_diff > 0
benchmark["gain"] = benchmark.price_diff > 0

In [28]:
#Adding new column with string

In [33]:
asset["symbol"] = "AAPL"
benchmark["symbol"] = "SPY"

In [34]:
asset

,open,high,low,close,volume,dividends,splits,price_diff,gain,symbol
date,,,,,,,,,,
2023-08-25,177.380005,179.149994,175.820007,178.610001,51449600,0.0,0.0,NaN,False,AAPL
2023-08-28,180.089996,180.589996,178.550003,180.190002,43820700,0.0,0.0,1.580002,True,AAPL
2023-08-29,179.699997,184.899994,179.500000,184.119995,53003900,0.0,0.0,3.929993,True,AAPL
2023-08-30,184.940002,187.850006,184.740005,187.649994,60813900,0.0,0.0,3.529999,True,AAPL
2023-08-31,187.839996,189.119995,187.479996,187.869995,60794500,0.0,0.0,0.220001,True,AAPL
...,...,...,...,...,...,...,...,...,...,...
2024-08-19,225.720001,225.990005,223.039993,225.889999,40687800,0.0,0.0,-0.160004,False,AAPL
2024-08-20,225.770004,227.169998,225.449997,226.509995,30299000,0.0,0.0,0.619995,True,AAPL
2024-08-21,226.520004,227.979996,225.050003,226.399994,34765500,0.0,0.0,-0.110001,False,AAPL
2024-08-22,227.789993,228.339996,223.899994,224.529999,43695300,0.0,0.0,-1.869995,False,AAPL
2024-08-23,225.660004,228.220001,224.330002,226.839996,38629400,0.0,0.0,2.309998,True,AAPL

In [ ]:
#Single value based on aggregate values

In [35]:
asset_2 = asset.copy()
asset_2.at[asset_2.index[10],"volume"] = asset_2.volume.mean()

/var/folders/l8/wvmkld_n55xc9w_c94f4zj8c0000gn/T/ipykernel_82812/1117781444.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '60146019.12350598' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  asset_2.at[asset_2.index[10],"volume"] = asset_2.volume.mean()

In [36]:
asset_2.iat[10, 5]

0.0

In [39]:
asset_2

,open,high,low,close,volume,dividends,splits,price_diff,gain,symbol
date,,,,,,,,,,
2023-08-25,177.380005,179.149994,175.820007,178.610001,51449600.0,0.0,0.0,NaN,False,AAPL
2023-08-28,180.089996,180.589996,178.550003,180.190002,43820700.0,0.0,0.0,1.580002,True,AAPL
2023-08-29,179.699997,184.899994,179.500000,184.119995,53003900.0,0.0,0.0,3.929993,True,AAPL
2023-08-30,184.940002,187.850006,184.740005,187.649994,60813900.0,0.0,0.0,3.529999,True,AAPL
2023-08-31,187.839996,189.119995,187.479996,187.869995,60794500.0,0.0,0.0,0.220001,True,AAPL
...,...,...,...,...,...,...,...,...,...,...
2024-08-19,225.720001,225.990005,223.039993,225.889999,40687800.0,0.0,0.0,-0.160004,False,AAPL
2024-08-20,225.770004,227.169998,225.449997,226.509995,30299000.0,0.0,0.0,0.619995,True,AAPL
2024-08-21,226.520004,227.979996,225.050003,226.399994,34765500.0,0.0,0.0,-0.110001,False,AAPL
2024-08-22,227.789993,228.339996,223.899994,224.529999,43695300.0,0.0,0.0,-1.869995,False,AAPL
2024-08-23,225.660004,228.220001,224.330002,226.839996,38629400.0,0.0,0.0,2.309998,True,AAPL

In [40]:
# Concatenating two DataFrames together

In [41]:
pd.concat([asset, asset_2]).drop_duplicates()

,open,high,low,close,volume,dividends,splits,price_diff,gain,symbol
date,,,,,,,,,,
2023-08-25,177.380005,179.149994,175.820007,178.610001,5.144960e+07,0.0,0.0,NaN,False,AAPL
2023-08-28,180.089996,180.589996,178.550003,180.190002,4.382070e+07,0.0,0.0,1.580002,True,AAPL
2023-08-29,179.699997,184.899994,179.500000,184.119995,5.300390e+07,0.0,0.0,3.929993,True,AAPL
2023-08-30,184.940002,187.850006,184.740005,187.649994,6.081390e+07,0.0,0.0,3.529999,True,AAPL
2023-08-31,187.839996,189.119995,187.479996,187.869995,6.079450e+07,0.0,0.0,0.220001,True,AAPL
...,...,...,...,...,...,...,...,...,...,...
2024-08-20,225.770004,227.169998,225.449997,226.509995,3.029900e+07,0.0,0.0,0.619995,True,AAPL
2024-08-21,226.520004,227.979996,225.050003,226.399994,3.476550e+07,0.0,0.0,-0.110001,False,AAPL
2024-08-22,227.789993,228.339996,223.899994,224.529999,4.369530e+07,0.0,0.0,-1.869995,False,AAPL
2024-08-23,225.660004,228.220001,224.330002,226.839996,3.862940e+07,0.0,0.0,2.309998,True,AAPL
2023-09-11,180.070007,180.300003,177.339996,179.360001,6.014602e+07,0.0,0.0,1.180008,True,AAPL

In [44]:
asset

,open,high,low,close,volume,dividends,splits,price_diff,gain,symbol
date,,,,,,,,,,
2023-08-25,177.380005,179.149994,175.820007,178.610001,51449600,0.0,0.0,NaN,False,AAPL
2023-08-28,180.089996,180.589996,178.550003,180.190002,43820700,0.0,0.0,1.580002,True,AAPL
2023-08-29,179.699997,184.899994,179.500000,184.119995,53003900,0.0,0.0,3.929993,True,AAPL
2023-08-30,184.940002,187.850006,184.740005,187.649994,60813900,0.0,0.0,3.529999,True,AAPL
2023-08-31,187.839996,189.119995,187.479996,187.869995,60794500,0.0,0.0,0.220001,True,AAPL
...,...,...,...,...,...,...,...,...,...,...
2024-08-19,225.720001,225.990005,223.039993,225.889999,40687800,0.0,0.0,-0.160004,False,AAPL
2024-08-20,225.770004,227.169998,225.449997,226.509995,30299000,0.0,0.0,0.619995,True,AAPL
2024-08-21,226.520004,227.979996,225.050003,226.399994,34765500,0.0,0.0,-0.110001,False,AAPL
2024-08-22,227.789993,228.339996,223.899994,224.529999,43695300,0.0,0.0,-1.869995,False,AAPL
2024-08-23,225.660004,228.220001,224.330002,226.839996,38629400,0.0,0.0,2.309998,True,AAPL

In [46]:
pd.pivot_table(
    data=asset,
    values="price_diff",
    columns="gain",
    aggfunc=["sum", "mean", "std"]
)

                  sum                 mean                 std
gain            False       True     False     True      False     True
price_diff -224.39006  272.620056 -2.03991  1.947286  1.824989  1.890017

In [48]:
# Groupping

In [49]:
concated = pd.concat([asset, benchmark])

In [65]:
concated.groupby("symbol").close.ohlc()

              open        high         low       close
symbol
AAPL    178.610001  234.820007  165.000000  226.839996
SPY     439.970001  564.859985  410.679993  562.130005

In [66]:
#Joining options data together to create straddle prices

In [67]:
chains = obb.derivatives.options.chains("AAPL", provider="cboe")

In [68]:
expirations = chains.expiration.unique()

In [70]:
chains

,underlying_symbol,underlying_price,contract_symbol,expiration,dte,strike,option_type,open_interest,volume,theoretical_price,...,low,prev_close,change,change_percent,implied_volatility,delta,gamma,theta,vega,rho
0,AAPL,227.3,AAPL240830C00100000,2024-08-30,2,100.0,call,0,0,128.1885,...,0.00,126.599998,0.000,0.000000,0.0000,1.0000,0.0000,0.0000,0.0000,0.0094
1,AAPL,227.3,AAPL240830P00100000,2024-08-30,2,100.0,put,101,2,0.0000,...,0.01,0.005000,0.005,1.000000,2.7775,0.0000,0.0000,0.0000,0.0000,0.0000
2,AAPL,227.3,AAPL240830C00105000,2024-08-30,2,105.0,call,0,0,123.1909,...,0.00,121.574997,0.000,0.000000,0.0000,1.0000,0.0000,0.0000,0.0000,0.0097
3,AAPL,227.3,AAPL240830P00105000,2024-08-30,2,105.0,put,23,0,0.0000,...,0.00,0.005000,0.000,0.000000,2.6202,0.0000,0.0000,0.0000,0.0000,0.0000
4,AAPL,227.3,AAPL240830C00110000,2024-08-30,2,110.0,call,0,0,118.1933,...,0.00,116.625000,0.000,0.000000,0.0000,1.0000,0.0000,0.0000,0.0000,0.0101
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2343,AAPL,227.3,AAPL261218P00330000,2026-12-18,842,330.0,put,0,0,101.9547,...,0.00,103.299999,0.000,0.000000,0.0000,-0.9893,0.0015,-0.0256,0.0000,0.0000
2344,AAPL,227.3,AAPL261218C00340000,2026-12-18,842,340.0,call,304,40,8.9695,...,8.98,8.650000,0.390,0.045087,0.2269,0.2343,0.0039,-0.0128,1.0669,1.0122
2345,AAPL,227.3,AAPL261218P00340000,2026-12-18,842,340.0,put,3,0,111.9547,...,0.00,113.224998,0.000,0.000000,0.0000,-1.0000,0.0000,-0.0256,0.0000,0.0000
2346,AAPL,227.3,AAPL261218C00350000,2026-12-18,842,350.0,call,3506,86,7.7716,...,7.35,7.300000,0.500,0.068493,0.2276,0.2094,0.0037,-0.0121,1.0023,0.9092
2347,AAPL,227.3,AAPL261218P00350000,2026-12-18,842,350.0,put,0,0,121.9547,...,0.00,123.400002,0.000,0.000000,0.0000,-1.0000,0.0000,-0.0256,0.0000,0.0000

In [72]:
calls = chains[(chains.option_type == "call") & (chains.expiration == expirations[5])]

In [73]:
puts = chains[(chains.option_type == "put") & (chains.expiration == expirations[5])]

In [75]:
calls_strike = calls.set_index("strike")
puts_strike = puts.set_index("strike")

In [76]:
joined = calls_strike.join(
    puts_strike,
    how="left",
    lsuffix="_call",
    rsuffix="_put"
)

In [78]:
prices = joined[["last_trade_price_call","last_trade_price_put"]]

In [79]:
prices

        last_trade_price_call  last_trade_price_put
strike
100.0                    0.00                  0.00
105.0                    0.00                  0.00
110.0                    0.00                  0.00
115.0                    0.00                  0.00
120.0                    0.00                  0.00
125.0                    0.00                  0.00
130.0                    0.00                  0.00
135.0                    0.00                  0.03
140.0                    0.00                  0.00
145.0                   84.08                  0.00
150.0                    0.00                  0.06
155.0                    0.00                  0.07
160.0                    0.00                  0.00
165.0                   60.47                  0.07
170.0                   56.00                  0.13
175.0                   52.72                  0.17
180.0                    0.00                  0.22
185.0                    0.00                  0.29
190.0                    0.00                  0.38
195.0                   33.40                  0.50
200.0                    0.00                  0.71
205.0                   25.35                  0.99
210.0                   21.15                  1.41
215.0                   16.62                  2.14
220.0                   12.39                  3.21
225.0                    9.00                  4.74
230.0                    6.15                  6.78
235.0                    3.85                  9.38
240.0                    2.25                 13.00
245.0                    1.25                 17.45
250.0                    0.72                  0.00
255.0                    0.38                  0.00
260.0                    0.24                  0.00
265.0                    0.16                  0.00
270.0                    0.09                  0.00
275.0                    0.08                  0.00
280.0                    0.06                  0.00
285.0                    0.02                  0.00
290.0                    0.01                  0.00
295.0                    0.00                  0.00
300.0                    0.02                  0.00

In [80]:
prices["straddle_price"] = prices.sum(axis=1)

/var/folders/l8/wvmkld_n55xc9w_c94f4zj8c0000gn/T/ipykernel_82812/1404091940.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prices["straddle_price"] = prices.sum(axis=1)