In [19]:
import numpy as np
import pandas as pd
from openbb import obb
obb.user.preferences.output_type = "dataframe"

In [20]:
asset = obb.equity.price.historical(
    "AAPL",
    provider="yfinance"
)
benchmark = obb.equity.price.historical(
    "SPY",
    provider="yfinance"
)

In [21]:
columns = [
    "open",
    "high",
    "low",
    "close",
    "volume",
    "dividends",
    "splits",
]

In [22]:
asset.columns = columns

In [23]:
benchmark.columns = columns + ["capital_gain"]

In [24]:
asset["price_diff"] = asset.close.diff()
benchmark["price_diff"] = benchmark.close.diff()

In [26]:
#Adding new column with boolean

In [27]:
asset["gain"] = asset.price_diff > 0
benchmark["gain"] = benchmark.price_diff > 0

In [28]:
#Adding new column with string

In [33]:
asset["symbol"] = "AAPL"
benchmark["symbol"] = "SPY"

In [34]:
asset

,open,high,low,close,volume,dividends,splits,price_diff,gain,symbol
date,,,,,,,,,,
2023-08-25,177.380005,179.149994,175.820007,178.610001,51449600,0.0,0.0,NaN,False,AAPL
2023-08-28,180.089996,180.589996,178.550003,180.190002,43820700,0.0,0.0,1.580002,True,AAPL
2023-08-29,179.699997,184.899994,179.500000,184.119995,53003900,0.0,0.0,3.929993,True,AAPL
2023-08-30,184.940002,187.850006,184.740005,187.649994,60813900,0.0,0.0,3.529999,True,AAPL
2023-08-31,187.839996,189.119995,187.479996,187.869995,60794500,0.0,0.0,0.220001,True,AAPL
...,...,...,...,...,...,...,...,...,...,...
2024-08-19,225.720001,225.990005,223.039993,225.889999,40687800,0.0,0.0,-0.160004,False,AAPL
2024-08-20,225.770004,227.169998,225.449997,226.509995,30299000,0.0,0.0,0.619995,True,AAPL
2024-08-21,226.520004,227.979996,225.050003,226.399994,34765500,0.0,0.0,-0.110001,False,AAPL
2024-08-22,227.789993,228.339996,223.899994,224.529999,43695300,0.0,0.0,-1.869995,False,AAPL
2024-08-23,225.660004,228.220001,224.330002,226.839996,38629400,0.0,0.0,2.309998,True,AAPL

In [ ]:
#Single value based on aggregate values

In [35]:
asset_2 = asset.copy()
asset_2.at[asset_2.index[10],"volume"] = asset_2.volume.mean()

/var/folders/l8/wvmkld_n55xc9w_c94f4zj8c0000gn/T/ipykernel_82812/1117781444.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '60146019.12350598' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  asset_2.at[asset_2.index[10],"volume"] = asset_2.volume.mean()

In [36]:
asset_2.iat[10, 5]

0.0

In [39]:
asset_2

,open,high,low,close,volume,dividends,splits,price_diff,gain,symbol
date,,,,,,,,,,
2023-08-25,177.380005,179.149994,175.820007,178.610001,51449600.0,0.0,0.0,NaN,False,AAPL
2023-08-28,180.089996,180.589996,178.550003,180.190002,43820700.0,0.0,0.0,1.580002,True,AAPL
2023-08-29,179.699997,184.899994,179.500000,184.119995,53003900.0,0.0,0.0,3.929993,True,AAPL
2023-08-30,184.940002,187.850006,184.740005,187.649994,60813900.0,0.0,0.0,3.529999,True,AAPL
2023-08-31,187.839996,189.119995,187.479996,187.869995,60794500.0,0.0,0.0,0.220001,True,AAPL
...,...,...,...,...,...,...,...,...,...,...
2024-08-19,225.720001,225.990005,223.039993,225.889999,40687800.0,0.0,0.0,-0.160004,False,AAPL
2024-08-20,225.770004,227.169998,225.449997,226.509995,30299000.0,0.0,0.0,0.619995,True,AAPL
2024-08-21,226.520004,227.979996,225.050003,226.399994,34765500.0,0.0,0.0,-0.110001,False,AAPL
2024-08-22,227.789993,228.339996,223.899994,224.529999,43695300.0,0.0,0.0,-1.869995,False,AAPL
2024-08-23,225.660004,228.220001,224.330002,226.839996,38629400.0,0.0,0.0,2.309998,True,AAPL

In [40]:
# Concatenating two DataFrames together

In [41]:
pd.concat([asset, asset_2]).drop_duplicates()

,open,high,low,close,volume,dividends,splits,price_diff,gain,symbol
date,,,,,,,,,,
2023-08-25,177.380005,179.149994,175.820007,178.610001,5.144960e+07,0.0,0.0,NaN,False,AAPL
2023-08-28,180.089996,180.589996,178.550003,180.190002,4.382070e+07,0.0,0.0,1.580002,True,AAPL
2023-08-29,179.699997,184.899994,179.500000,184.119995,5.300390e+07,0.0,0.0,3.929993,True,AAPL
2023-08-30,184.940002,187.850006,184.740005,187.649994,6.081390e+07,0.0,0.0,3.529999,True,AAPL
2023-08-31,187.839996,189.119995,187.479996,187.869995,6.079450e+07,0.0,0.0,0.220001,True,AAPL
...,...,...,...,...,...,...,...,...,...,...
2024-08-20,225.770004,227.169998,225.449997,226.509995,3.029900e+07,0.0,0.0,0.619995,True,AAPL
2024-08-21,226.520004,227.979996,225.050003,226.399994,3.476550e+07,0.0,0.0,-0.110001,False,AAPL
2024-08-22,227.789993,228.339996,223.899994,224.529999,4.369530e+07,0.0,0.0,-1.869995,False,AAPL
2024-08-23,225.660004,228.220001,224.330002,226.839996,3.862940e+07,0.0,0.0,2.309998,True,AAPL
2023-09-11,180.070007,180.300003,177.339996,179.360001,6.014602e+07,0.0,0.0,1.180008,True,AAPL

In [44]:
asset

,open,high,low,close,volume,dividends,splits,price_diff,gain,symbol
date,,,,,,,,,,
2023-08-25,177.380005,179.149994,175.820007,178.610001,51449600,0.0,0.0,NaN,False,AAPL
2023-08-28,180.089996,180.589996,178.550003,180.190002,43820700,0.0,0.0,1.580002,True,AAPL
2023-08-29,179.699997,184.899994,179.500000,184.119995,53003900,0.0,0.0,3.929993,True,AAPL
2023-08-30,184.940002,187.850006,184.740005,187.649994,60813900,0.0,0.0,3.529999,True,AAPL
2023-08-31,187.839996,189.119995,187.479996,187.869995,60794500,0.0,0.0,0.220001,True,AAPL
...,...,...,...,...,...,...,...,...,...,...
2024-08-19,225.720001,225.990005,223.039993,225.889999,40687800,0.0,0.0,-0.160004,False,AAPL
2024-08-20,225.770004,227.169998,225.449997,226.509995,30299000,0.0,0.0,0.619995,True,AAPL
2024-08-21,226.520004,227.979996,225.050003,226.399994,34765500,0.0,0.0,-0.110001,False,AAPL
2024-08-22,227.789993,228.339996,223.899994,224.529999,43695300,0.0,0.0,-1.869995,False,AAPL
2024-08-23,225.660004,228.220001,224.330002,226.839996,38629400,0.0,0.0,2.309998,True,AAPL

In [46]:
pd.pivot_table(
    data=asset,
    values="price_diff",
    columns="gain",
    aggfunc=["sum", "mean", "std"]
)

                  sum                 mean                 std
gain            False       True     False     True      False     True
price_diff -224.39006  272.620056 -2.03991  1.947286  1.824989  1.890017

In [48]:
# Groupping

In [49]:
concated = pd.concat([asset, benchmark])

In [65]:
concated.groupby("symbol").close.ohlc()

              open        high         low       close
symbol
AAPL    178.610001  234.820007  165.000000  226.839996
SPY     439.970001  564.859985  410.679993  562.130005