In [22]:
import pandas as pd
import numpy as np

In [2]:
idx_1 = pd.Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [3]:
print(idx_1)

Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9], dtype='int64')

In [4]:
#DatetimeIndex with day as freq

In [5]:
days = pd.date_range("2016-01-01", periods=6, freq="D")

In [6]:
print(days)

DatetimeIndex(['2016-01-01', '2016-01-02', '2016-01-03', '2016-01-04',
               '2016-01-05', '2016-01-06'],
              dtype='datetime64[ns]', freq='D')

In [7]:
#DatatimeIndex with seconds as freq

In [24]:
seconds = pd.date_range("2016-01-01", periods=100, freq="s")

In [26]:
print(seconds)

DatetimeIndex(['2016-01-01 00:00:00', '2016-01-01 00:00:01',
               '2016-01-01 00:00:02', '2016-01-01 00:00:03',
               '2016-01-01 00:00:04', '2016-01-01 00:00:05',
               '2016-01-01 00:00:06', '2016-01-01 00:00:07',
               '2016-01-01 00:00:08', '2016-01-01 00:00:09',
               '2016-01-01 00:00:10', '2016-01-01 00:00:11',
               '2016-01-01 00:00:12', '2016-01-01 00:00:13',
               '2016-01-01 00:00:14', '2016-01-01 00:00:15',
               '2016-01-01 00:00:16', '2016-01-01 00:00:17',
               '2016-01-01 00:00:18', '2016-01-01 00:00:19',
               '2016-01-01 00:00:20', '2016-01-01 00:00:21',
               '2016-01-01 00:00:22', '2016-01-01 00:00:23',
               '2016-01-01 00:00:24', '2016-01-01 00:00:25',
               '2016-01-01 00:00:26', '2016-01-01 00:00:27',
               '2016-01-01 00:00:28', '2016-01-01 00:00:29',
               '2016-01-01 00:00:30', '2016-01-01 00:00:31',
               '2016-01-01 00:00:32', '2016-01-01 00:00:33',
               '2016-01-01 00:00:34', '2016-01-01 00:00:35',
               '2016-01-01 00:00:36', '2016-01-01 00:00:37',
               '2016-01-01 00:00:38', '2016-01-01 00:00:39',
               '2016-01-01 00:00:40', '2016-01-01 00:00:41',
               '2016-01-01 00:00:42', '2016-01-01 00:00:43',
               '2016-01-01 00:00:44', '2016-01-01 00:00:45',
               '2016-01-01 00:00:46', '2016-01-01 00:00:47',
               '2016-01-01 00:00:48', '2016-01-01 00:00:49',
               '2016-01-01 00:00:50', '2016-01-01 00:00:51',
               '2016-01-01 00:00:52', '2016-01-01 00:00:53',
               '2016-01-01 00:00:54', '2016-01-01 00:00:55',
               '2016-01-01 00:00:56', '2016-01-01 00:00:57',
               '2016-01-01 00:00:58', '2016-01-01 00:00:59',
               '2016-01-01 00:01:00', '2016-01-01 00:01:01',
               '2016-01-01 00:01:02', '2016-01-01 00:01:03',
               '2016-01-01 00:01:04', '2016-01-01 00:01:05',
               '2016-01-01 00:01:06', '2016-01-01 00:01:07',
               '2016-01-01 00:01:08', '2016-01-01 00:01:09',
               '2016-01-01 00:01:10', '2016-01-01 00:01:11',
               '2016-01-01 00:01:12', '2016-01-01 00:01:13',
               '2016-01-01 00:01:14', '2016-01-01 00:01:15',
               '2016-01-01 00:01:16', '2016-01-01 00:01:17',
               '2016-01-01 00:01:18', '2016-01-01 00:01:19',
               '2016-01-01 00:01:20', '2016-01-01 00:01:21',
               '2016-01-01 00:01:22', '2016-01-01 00:01:23',
               '2016-01-01 00:01:24', '2016-01-01 00:01:25',
               '2016-01-01 00:01:26', '2016-01-01 00:01:27',
               '2016-01-01 00:01:28', '2016-01-01 00:01:29',
               '2016-01-01 00:01:30', '2016-01-01 00:01:31',
               '2016-01-01 00:01:32', '2016-01-01 00:01:33',
               '2016-01-01 00:01:34', '2016-01-01 00:01:35',
               '2016-01-01 00:01:36', '2016-01-01 00:01:37',
               '2016-01-01 00:01:38', '2016-01-01 00:01:39'],
              dtype='datetime64[ns]', freq='s')

In [27]:
#Period Index

In [28]:
prng = pd.period_range("1990Q1", "2000Q4", freq="Q-NOV")

In [13]:
print(prng)

PeriodIndex(['1990Q1', '1990Q2', '1990Q3', '1990Q4', '1991Q1', '1991Q2',
             '1991Q3', '1991Q4', '1992Q1', '1992Q2', '1992Q3', '1992Q4',
             '1993Q1', '1993Q2', '1993Q3', '1993Q4', '1994Q1', '1994Q2',
             '1994Q3', '1994Q4', '1995Q1', '1995Q2', '1995Q3', '1995Q4',
             '1996Q1', '1996Q2', '1996Q3', '1996Q4', '1997Q1', '1997Q2',
             '1997Q3', '1997Q4', '1998Q1', '1998Q2', '1998Q3', '1998Q4',
             '1999Q1', '1999Q2', '1999Q3', '1999Q4', '2000Q1', '2000Q2',
             '2000Q3', '2000Q4'],
            dtype='period[Q-NOV]')

In [14]:
#Multi Index

In [16]:
tuples = [
    (pd.Timestamp("2023-07-10"), "WMT"),
    (pd.Timestamp("2023-07-10"), "JPM"),
    (pd.Timestamp("2023-07-10"), "TGT"),
    (pd.Timestamp("2023-07-11"), "WMT"),
    (pd.Timestamp("2023-07-11"), "JPM"),
    (pd.Timestamp("2023-07-11"), "TGT"),
]
midx = pd.MultiIndex.from_tuples(
    tuples,
    names=("date", "symbol")
)

In [17]:
print(midx)

MultiIndex([('2023-07-10', 'WMT'),
            ('2023-07-10', 'JPM'),
            ('2023-07-10', 'TGT'),
            ('2023-07-11', 'WMT'),
            ('2023-07-11', 'JPM'),
            ('2023-07-11', 'TGT')],
           names=['date', 'symbol'])

In [29]:
#creating series 

def rnd():
    return np.random.randn(100,)

s_1 = pd.Series(rnd(), index=seconds)
s_2 = pd.Series(rnd(), index=seconds)
s_3 = pd.Series(rnd(), index=seconds)

In [30]:
df = pd.DataFrame({"a": s_1, "b": s_2, "c": s_3})

In [31]:
df

                            a         b         c
2016-01-01 00:00:00  0.843954 -1.034367  1.495174
2016-01-01 00:00:01 -1.071438  0.025462 -1.009017
2016-01-01 00:00:02 -1.094563  0.504076  1.314951
2016-01-01 00:00:03  0.090834 -0.124131 -1.400100
2016-01-01 00:00:04 -1.271704 -0.557427  1.536645
...                       ...       ...       ...
2016-01-01 00:01:35 -0.331963  0.703149 -0.259028
2016-01-01 00:01:36 -0.734157  2.112591 -0.593343
2016-01-01 00:01:37 -0.270756 -0.442510 -0.799435
2016-01-01 00:01:38 -0.882107  0.123115  0.114833
2016-01-01 00:01:39 -1.347195 -0.418381  1.396529

[100 rows x 3 columns]