In [1]:
# Calculating asset returns using pandas

In [4]:
import numpy as np
import pandas as pd
from openbb import obb
obb.user.preferences.output_type = "dataframe"

In [6]:
data = obb.equity.price.historical(
    "AAPL",
    provider="yfinance"
)

In [7]:
df = data.loc[:, ["close"]]

In [8]:
df

                 close
date
2023-09-01  189.460007
2023-09-05  189.699997
2023-09-06  182.910004
2023-09-07  177.559998
2023-09-08  178.179993
...                ...
2024-08-26  227.179993
2024-08-27  228.029999
2024-08-28  226.490005
2024-08-29  229.789993
2024-08-30  229.000000

[251 rows x 1 columns]

In [10]:
df["simple"] = df["close"].pct_change()
df["compound"] = np.log(
    df["close"] / df["close"].shift()
)

In [11]:
df

                 close    simple  compound
date
2023-09-01  189.460007       NaN       NaN
2023-09-05  189.699997  0.001267  0.001266
2023-09-06  182.910004 -0.035793 -0.036450
2023-09-07  177.559998 -0.029249 -0.029686
2023-09-08  178.179993  0.003492  0.003486
...                ...       ...       ...
2024-08-26  227.179993  0.001499  0.001498
2024-08-27  228.029999  0.003742  0.003735
2024-08-28  226.490005 -0.006753 -0.006776
2024-08-29  229.789993  0.014570  0.014465
2024-08-30  229.000000 -0.003438 -0.003444

[251 rows x 3 columns]

In [14]:
#More
# adding periods for pct-change
df["close"].pct_change(periods=3)

date
2023-09-01         NaN
2023-09-05         NaN
2023-09-06         NaN
2023-09-07   -0.062810
2023-09-08   -0.060727
                ...
2024-08-26    0.003445
2024-08-27    0.015588
2024-08-28   -0.001543
2024-08-29    0.011489
2024-08-30    0.004254
Name: close, Length: 251, dtype: float64

In [15]:
#adding shift
“np.log(df["close"] / df["close"].shift(3))”

Excerpt From
Python for Algorithmic Trading Cookbook
Jason Strimpel
This material may be protected by copyright.