In [1]:
import pandas as pd
from openbb import obb

In [2]:
obb.user.preferences.output_type = "dataframe"

In [3]:
def get_stock_data(symbol, start_date=None, end_date=None):
    data = obb.equity.price.historical(
        symbol,
        start_date=start_date,
        end_date=end_date,
        provider="yfinance",
    )
    data.reset_index(inplace=True)
    data["symbol"] = symbol
    return data

In [4]:
def save_data_range(symbol, start_date=None, end_date=None):
    data = get_stock_data(symbol, start_date, end_date)
    data.to_csv(f"{symbol}.gz", compression="gzip", index=False)

In [5]:
def get_data(symbol):
    return pd.read_csv(
        f"{symbol}.gz",
        compression="gzip",
        index_col="date",
        usecols=["date", "open", "high", "low", "close", "volume", "symbol"],
    )

In [6]:
save_data_range("PLTR")

In [7]:
pltr = get_data("PLTR")

In [8]:
pltr.to_csv("market_data.csv")

In [9]:
pltr.to_csv("market_data.tsv", sep="\t")

In [10]:
#Save specific columns of 'df' to a CSV file

pltr.to_csv("market_data.csv", columns=["open", "close"])

In [12]:
# Read the first 10 rows of the CSV file

pltr = pd.read_csv("market_data.csv", nrows=10)
pltr

         date   open  close
0  2023-09-11  15.41  15.79
1  2023-09-12  15.46  15.59
2  2023-09-13  15.63  15.60
3  2023-09-14  15.69  15.83
4  2023-09-15  15.77  15.33
5  2023-09-18  15.18  15.46
6  2023-09-19  15.34  15.15
7  2023-09-20  15.25  14.74
8  2023-09-21  14.34  14.00
9  2023-09-22  14.23  14.13

In [ ]:
Skip the first 10 rows and read the rest of the CSV file

pltr = pd.read_csv("market_data.csv", skiprows=range(1, 11))