In [1]:
!pip install exchange-calendars

Requirement already satisfied: exchange-calendars in /opt/anaconda3/envs/my-quant-stack/lib/python3.10/site-packages (4.5.5)
Requirement already satisfied: numpy in /opt/anaconda3/envs/my-quant-stack/lib/python3.10/site-packages (from exchange-calendars) (1.26.4)
Requirement already satisfied: pandas>=1.5 in /opt/anaconda3/envs/my-quant-stack/lib/python3.10/site-packages (from exchange-calendars) (2.2.2)
Requirement already satisfied: pyluach in /opt/anaconda3/envs/my-quant-stack/lib/python3.10/site-packages (from exchange-calendars) (2.2.0)
Requirement already satisfied: toolz in /opt/anaconda3/envs/my-quant-stack/lib/python3.10/site-packages (from exchange-calendars) (0.12.1)
Requirement already satisfied: tzdata in /opt/anaconda3/envs/my-quant-stack/lib/python3.10/site-packages (from exchange-calendars) (2023.3)
Requirement already satisfied: korean-lunar-calendar in /opt/anaconda3/envs/my-quant-stack/lib/python3.10/site-packages (from exchange-calendars) (0.3.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/envs/my-quant-stack/lib/python3.10/site-packages (from pandas>=1.5->exchange-calendars) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/envs/my-quant-stack/lib/python3.10/site-packages (from pandas>=1.5->exchange-calendars) (2024.1)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/envs/my-quant-stack/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas>=1.5->exchange-calendars) (1.16.0)

In [2]:
import sqlite3

In [3]:
import exchange_calendars as xcals
import pandas as pd
from IPython.display import Markdown, display
from openbb import obb

In [4]:
obb.user.preferences.output_type = "dataframe"

In [6]:
def get_stock_data(symbol, start_date=None, end_date=None):
    data = obb.equity.price.historical(
        symbol=symbol,
        start_date=start_date,
        end_date=end_date,
        provider="yfinance",
    )
    data.reset_index(inplace=True)
    data["symbol"] = symbol
    return data

In [7]:
def save_data_range(symbol, conn, start_date=None, end_date=None):
    data = get_stock_data(symbol, start_date, end_date)
    data.to_sql("stock_data", conn, if_exists="append", index=False)

In [ ]:
def save_last_trading_session(symbol, conn):
    today = pd.Timestamp.today()
    data = get_stock_data(symbol, today, today)
    data.to_sql("stock_data", conn, if_exists="append", index=False)

In [8]:
conn = sqlite3.connect("market_data.sqlite")

In [9]:
for symbol in ["SPY", "QQQ", "DIA"]:
    save_data_range(symbol, conn=conn, start_date="2020-06-01", end_date="2023-01-01")

In [10]:
df_1 = pd.read_sql_query("SELECT * from stock_data where symbol='SPY'", conn)
display(df_1)

,date,open,high,low,close,volume,split_ratio,dividend,capital_gains,symbol
0,2020-06-01,303.619995,306.209991,303.059998,305.549988,55758300,0.0,0.0,0.0,SPY
1,2020-06-02,306.549988,308.130005,305.100006,308.079987,74267200,0.0,0.0,0.0,SPY
2,2020-06-03,310.239990,313.220001,309.940002,312.179993,92567600,0.0,0.0,0.0,SPY
3,2020-06-04,311.109985,313.000000,309.079987,311.359985,75794400,0.0,0.0,0.0,SPY
4,2020-06-05,317.230011,321.269989,317.160004,319.339996,150524700,0.0,0.0,0.0,SPY
...,...,...,...,...,...,...,...,...,...,...
648,2022-12-23,379.649994,383.059998,378.029999,382.910004,59857300,0.0,0.0,0.0,SPY
649,2022-12-27,382.790009,383.149994,379.649994,381.399994,51638200,0.0,0.0,0.0,SPY
650,2022-12-28,381.329987,383.390015,376.420013,376.660004,70911500,0.0,0.0,0.0,SPY
651,2022-12-29,379.630005,384.350006,379.079987,383.440002,66970900,0.0,0.0,0.0,SPY
652,2022-12-30,380.640015,382.579987,378.429993,382.429993,84022200,0.0,0.0,0.0,SPY